
body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 5px;
  }
  
  .navbar img {
    width: 150px;
    height: auto;
    margin-right: auto; /* Empuja la imagen hacia la izquierda */
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    
    display: inline-block;
  }
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
  }

  .content {
    margin-top: 60px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
  }
  
  /* Estilos para las secciones */
  .section {
    height: 500px; /* Altura de las secciones */
  }

  #inicio {
    background-color: #27b155;
    padding-top: 60px;
    
  
  }
  
  
  #acerca {
    background-color: #dab85d;
  }
  
  #contacto {
    background-color: #27b155;
  }
  a {
    color: lightseagreen;
    cursor: pointer;
    text-decoration: line-through;
   
    }
  
    
/*

1 auto: El navegador determina el estilo de cursor apropiado según el contexto.
2 default: El estilo de cursor predeterminado del navegador (generalmente una flecha).
3 pointer: Un puntero, indicando que el elemento es interactivo y se puede hacer clic.
4 crosshair: Un cursor en forma de cruz, utilizado para indicar una selección de área.
5 move: Un cursor con flechas, utilizado para indicar que un elemento se puede mover.
6 text: Un cursor de texto, utilizado para indicar que se puede escribir texto en el elemento.
7 wait: Un cursor de espera, utilizado para indicar que el navegador está ocupado y se debe esperar.
8 help: Un cursor de ayuda, utilizado para indicar que se proporciona ayuda o información adicional.

*/


    a:link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: steelblue;
      }
      a:visited {
       color: olive;
      }
      a:hover {
        background-color: dimgrey;
        color: white;
        transition-property: color, background-color;
        transition-duration: 300ms, 400ms;
        transition-timing-function: ease-in, ease-out;
      }
      a:active {
       background-color: rgb(223, 63, 63);
      }
      footer {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #181515;
        color: #ccc;
        padding: 10px;
        text-align: center;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .footer-icons {
        display: flex;
        justify-content: flex-end;
      }
      
      .footer-icons a {
        color: #333;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
      }
      
      .footer-icons a:hover {
        background-color: #333;
      }
      
      .footer-icons a i {
        color: #fffafa;
      }
      
      .footer-text {
        margin-top: 5px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
 
      
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
      *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Open Sans', sans-serif;
      }
      .container-form{
          width: 100%;
          max-width: 1100px;
          margin: auto;
          display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-gap: 50px;
          margin-top: 90px;
      }
      .container-form h2{
          margin-bottom: 15px;
          font-size: 35px
      }
      .container-form p{
          font-size: 17px;
          line-height: 1.6;
          margin-bottom: 30px;
      }
      .container-form a{
          font-size: 17px;
          display: inline-block;
          text-decoration: none;
          width: 100%;
          margin-bottom: 15px;
          color: black;
          font-weight: 700;
      }
      .container-form a i{
          color: orange;
          margin-right: 10px;
      }
      .container-form form .campo, textarea{
          width: 100%;
          padding: 15px 10px;
          font-size: 16px;
          border: 1px solid #dbdbdb;
          margin-bottom: 20px;
          border-radius: 3px;
          outline: 0px;
      }
      .container-form form textarea{
          max-width: 530px;
          min-width: 530px;
          min-height: 140px;
          max-height: 150px;
      }
      .container-form .btn-enviar{
          padding: 15px;
          font-size: 16px;
          border: none;
          outline: 0px;
          background: orange;
          color: white;
          border-radius: 3px;
          cursor: pointer;
          transition: all 300ms ease;
      }
      .container-form .btn-enviar:hover{
          background: #e39403;
      }
      